<div id="card-data">
    <div id="word">stiff</div>
    <div id="lexical-entries">
      <div class="lexical-entry">
        <div class="speech-part">adjective</div>
        <div class="pronunciations">
          <div class="pronunciation">
            <div class="dialects">British English</div>
            <div class="ipa">stif</div>
          </div>
        </div>
        <div class="entries">
          <div class="entry">
            <div class="grammatical-features">
              <div class="feature">Degree: Positive</div>
              <div class="feature">Tense: Past</div>
            </div>
            <div class="senses">
              <div class="sense">
                <div class="definitions">
                    <div class="def">make an opening, incision, or wound in (something) with a sharp-edged tool or object</div>
                </div>
                <div class="examples">
                    <div class="example">when fruit is cut open, it goes brown</div>
                    <div class="example">he cut his big toe on a sharp stone</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
